/*Allgemein*/
    @font-face {
        font-family: jellyka;
        src: url(../fonts/Jellyka\ Delicious\ Cake.ttf); 
        format(„TrueType“);
        }

    @font-face {
        font-family: jellyka2;
        src: url(../fonts/jellyka_delicious_cake-webfont.eot); 
        format(„eot“);
        }

    @font-face {
        font-family: jellyka3;
        src: url(../fonts/jellyka_delicious_cake-webfont.svg); 
        format(„svg“);
        }

    @font-face {
        font-family: jellyka4;
        src: url(../fonts/jellyka_delicious_cake-webfont.woff);
        format(„woff“);
        }

    @font-face {
        font-family: jellyka5;
        src: 
        url(../fonts/jellyka_delicious_cake-webfont.woff2);
        format(„woff2“);
        }

    body{
        background-image: url(../images/bg.png);   
        height: 750px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

/*Karten Layout*/
    .karte{
        display: block;
        position: relative;
    }

/*Karten Text-Layout*/

    .karte_txt{
        font-family: jellyka , jellyka2 , jellyka3 , jellyka4 , jellyka5;
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        padding:30px 40px 50px 40px;
    }

    .karte_txt h1{
        font-size: 70px;
    }

    .karte_txt p{
        font-size: 25px;
    }
