/*Allgemein*/
    html{
        height: 100%; 
    }

    body{
        background-image: url(../images/bg.png);   
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

/*Karten Layout*/
    .karte{
        position: relative;
        display: block;
        background: url(../images/wrapperbg.png) no-repeat;
        height: 400px;
        width: 600px;
    }

/*Karten Text-Layout*/

    .karteTxt{
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        padding:30px 50px 50px 75px;
        width: 400px;
    }

    .karteTxt p{
        margin: 30px 0;
    }

/*Bilder positionierung*/

    .karte img{
        position: absolute;
    }

    .buschPng{
        top: -60px;
        left: -60px;
    }

    .pinguinPng{
        bottom: -30px;
        right: -30px;
    }