html{
    height: 100%;
}

body{
    background-color: #2A363B;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.container{
    width: 500px;
    height: 580px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container div{
    border-radius: 10%;
}

.sound1, .sound2, .sound3, .sound4{
    cursor: pointer;
    width: 150px;
    height: 150px;
    background-color: #E84A5F;
}

.sound5{
    cursor: pointer;
    width: 150px;
    height: 150px;
    background-color: #99B898;
}

.sound6, .sound9{
    cursor: pointer;
    width: 150px;
    height: 150px;
    background-color: #FECEA8;
}

.sound7, .sound8{
    cursor: pointer;
    width: 150px;
    height: 150px;
    background-color: #FF847C;
}

/* Buttons*/

.buttons{
    display: flex;
    position: relative;
    height: 80px;
}

 .fas{
    cursor: pointer;
    color: #FFFFFF;
    margin: 20px;
    font-size: 75px;
}


.fa-play, .fa-pause{
    position: absolute;
    left:0;
    height: 0;   
}

.inactive{
    visibility: hidden;
    cursor: none;
}

.active{
    color: red;
}