/*Allgemein*/
    html{
        height: 100%; 
    }

    body{
        background-image: url(../images/bg.png);   
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

/*Karten Layout*/

    .karte{
        position: relative;
        display: block;
        background: url(../images/wrapperbg.png) no-repeat;
        height: 400px;
        width: 600px;
    }

/*Karten Text-Layout*/

    .karteTxt{
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 40px;
        padding-left: 40px;
    }

    .karte_txt h1{
        margin: 0;
    }

/*Sterne Hover*/

    .stern1, .stern2,
    .stern3, .stern4{
        position: absolute;
        width: 65px;
        height: 65px;
        background-image: url(../images/stern.png);
        background-repeat: no-repeat;
    }

    .stern1:hover, .stern2:hover,
    .stern3:hover, .stern4:hover{
        background-image: url(../images/stern_hover.png);
        background-repeat: no-repeat;
    }

/*Stern positionierung*/


    .stern1{
        top: 250px;
        left: 70px;
    }

    .stern2{
        top: 175px;
        left: 235px;
    }

    .stern3{
        top: 280px;
        left: 325px;
    }

    .stern4{
        top: 140px;
        left: 450px;
    }
