/*Allgemein*/
    html{
        height: 100%; 
    }

    body{
        background-image: url(../images/bg.png);   
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

/*Karten Layout*/

    .karte{
        position: relative;
        display: block;
        background: url(../images/wrapperbg.png) no-repeat;
        height: 400px;
        width: 600px;
    }
    
/*Karten Text-Layout*/

    .karteTxt{
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        padding:30px 50px 50px 75px;
    }

/*Grid Positionierung*/

    .grid{
        position: absolute;
        top: 150px;
        left: 65px;
    }

/*Grid Einstellungen*/


    .gridKaro{
        color:white;
        margin: auto;
        width: 500px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, minmax(100px,auto));
    }
    .gridHerz{
        color:white;
        width: 500px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, minmax(100px,auto));
    }
